.home-list {
  list-style-type: none;
  margin: auto;
  max-width: 900px; 
}

.home-list li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background-color: red;
}

body {
  background-color: coral;
}
